//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/douglas/.config/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/douglas/.config/rofi/themes/launchpad.rasi"
//@theme "/home/douglas/.config/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/douglas/.config/rofi/themes/squared-nord.rasi"
